html, body {
   height: 100%;
   margin: 0;
   overflow: hidden;
   font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  font-size: 40px;
  caret-color: transparent;
}

.material-icons.md-48 { 
  font-size: 48px;
}

.theme-button {
  position: absolute;
  right: 70px;
  top: 50px;
}

.card {
  height: calc(100% - 50px);
  width: calc(100% - 100px);
  border-radius: 2px;
  box-shadow: 3px 3px 3px #000000;
  margin: auto;
}