html, body {
   height: 100%;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

body {
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  padding:30px
}

button {
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  caret-color: transparent;
  cursor: pointer;
}

.center {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  width: 45vw;
}

.me {
  position: absolute;
  width: 35%;
  height: auto;
  top: 50px;
  right: 10%;
  border-radius: 30% 100px 30% 100px;
}

.name {
  font-size: 5vw;
}

.email {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
  border-bottom: none;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}

.email:hover {
  color: rgb(110, 110, 110);
}

.material-icons.md-48 { 
  font-size: 5vw;
}

.theme-button {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 999;
}

.about-me {
  padding: 50px;
  font-size: 1.3vw;
  width: 45vw;
}

.social {
  font-size: 1.4vw;
  padding: 2px;
  text-decoration: none;
  border-bottom: none;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}

.social:hover {
  color: rgb(110, 110, 110);
}

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Minimum aspect ratio */
@media (max-aspect-ratio: 4/3) {
  .center {
    height:250px
  }
  .name {
    font-size: 50px;
  }
  .email {
    font-size: 34px;
  }
  .social {
    font-size: 22px;
  }
  .about-me {
    height: 100%;
    font-size: 45px;
    width:100%
  }
  .
}