html, body {
   height: 100%;
   margin: 0;
   overflow: hidden;
   font-family: 'Roboto', sans-serif;
}

body {
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  padding:30px
}

button {
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  caret-color: transparent;
}

.name {
  font-size: 48px;
  text-decoration: none;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}

.material-icons.md-48 { 
  font-size: 48px;
}

.theme-button {
  position: absolute;
  right: 30px;
  top: 30px;
}
